@keyframes slideInFromBottom {
    0% {
        transform: translateY(75%);
    }
    100% {
        transform: translateY(0);
    }
}

.button button {
    width: 28vw;
    height: 20vh;
    padding: 1vw 1vh;
    margin: 0.5vw;
    font-size: xx-large;
    display: inline-block;
    text-align: center;
    animation: 0.2s ease-out 0s 1 slideInFromBottom;
    vertical-align: bottom;
    border: 3px solid white;
    border-radius: 10px;
    text-shadow: 2px 2px 0 #0000002b;
    color: white;
}

.correct {
    background-color: rgba(31, 200, 79, 0.944);
}

.incorrect {
    background-color: rgba(230, 52, 79, 0.91);
}

.blue {
    background-color: rgba(59, 166, 233, 0.951);
}
.yellow {
    background-color: rgba(228, 191, 82, 0.964);
}
.purple {
    background-color: rgba(136, 96, 215, 0.944);
}
.orange {
    background-color: rgb(235, 141, 83);
}
