.wrapper {
    max-height: 98vh;
    max-width: 98vw;
}

.verticalPadding {
    margin-top: 2vh;
}

.header {
    height: 7vh;
    width: 95vw;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
}

.title {
    width: 95vw;
}

.titleImg {
    margin: auto;
}

.pid {
    position: absolute;
    top: 2vh;
    right: 1vw;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.loading {
    position: absolute;
    top: 50vh;
    right: 50vw;
    font-size: xx-large;
}

.mainContent {
    width: 95vw;
    height: 88vh;
    text-align: left;
    margin: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filterContainer {
    height: 88vh;
    width: 70vw;
    padding: 1vh;
}

.categorySelect {
    font-weight: bold;
}

.otherOptions {
    text-align: left;
}

.otherOptionsLabel {
    font-weight: bold;
}

.startButtonWrapper {
    width: 44vw;
    display: flex;
    align-items: left;
    padding-left: 1vw;
}

.startButton {
    font-size: xx-large;
    text-shadow: 2px 2px 0 #0000002b;
    border-radius: 7px;
    border-width: 1px;
    background-color: #29f04aea;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}

.startButton:disabled {
    background-color: #3ba44cea;
    color: rgb(187, 187, 187);
    cursor: default;
}

.playerHUD {
    height: 88vh;
    width: 20vw;
    text-align: center;
    padding: 1vh;
    border: 3px solid rgb(154, 168, 255);
    border-radius: 10px;
    background-color: #0f309d;
}

.roleIndicator {
    font-weight: bold;
}

.instructionsContainer {
    text-align: center;
}

.mainGame {
    width: 95vw;
    height: 83vh;
    text-align: left;
    margin: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gameContainer {
    height: 83vh;
    width: 70vw;
    padding: 1vh;
    font-size: smaller;
}

.round {
    position: absolute;
    top: 5vh;
    right: 1vw;
    font-weight: bold;
    font-size: larger;
}

.articleContainer {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.category {
    font-weight: normal;
    font-style: italic;
    font-size: smaller;
}

.playerHUDGame {
    height: 80vh;
    width: 20vw;
    padding: 1vh;
    text-align: center;
    border: 3px solid rgb(154, 168, 255);
    border-radius: 10px;

    background-color: #0f309d;
}

.inputContainer {
    width: 60vw;
    padding: 1vh;
    margin: auto;
    text-align: center;
}

.articleDisplay {
    color: rgb(154, 168, 255);
    text-decoration: underline;
}

.roundOver {
    margin: auto;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation {
    animation: fadeIn 0.7s;
}

.noAnimation {
    animation: fadeIn 0.75s;
}

.roleButton {
    text-shadow: 2px 1px 0 #0000002b;
    border-radius: 7px;
    border-width: 1px;
    color: white;
    background-color: rgb(3, 174, 231);
    vertical-align: auto;
    cursor: pointer;
}

.afterRoundButton {
    border: 3px solid rgb(154, 168, 255);
    border-radius: 6px;
    color: white;
    background-color: rgba(71, 96, 255, 0.847);
    margin: auto;
    font-size: x-large;
}
