.verticalPadding {
    margin-top: 2vh;
}

.gameOverContainer {
    height: 88vh;
    width: 70vw;
    padding: 1vh;
    font-size: smaller;
}

.buttonStyles button {
    margin: auto;
    font-size: x-large;
    border: 3px solid rgb(154, 168, 255);
    border-radius: 6px;
    color: white;
    background-color: rgba(71, 96, 255, 0.847);
}

.buttonStyles {
    padding: 0px 15vw;
    display: flex;
}

.verticalPadding {
    margin-top: 3vh;
}
