.verticalPadding {
    margin-top: 2vh;
}

.gameOverContainer {
    height: 88vh;
    width: 70vw;
    border: 2px solid red;
    padding: 1vh;
    font-size: smaller;
}

.buttonStyles button {
    margin: auto;
    font-size: large;
}

.buttonStyles {
    padding: 0px 15vw;
    display: flex;
}

.verticalPadding {
    margin-top: 3vh;
}
