.wrapper {
    max-height: 98vh;
    max-width: 98vw;
}

.verticalPadding {
    margin-top: 2vh;
}

.header {
    height: 7vh;
    width: 95vw;
    text-align: center;
    border: 2px solid red;
    margin: auto;
    display: flex;
    align-items: center;
}

.title {
    width: 95vw;
}

.pid {
    position: absolute;
    top: 2vh;
    right: 1vw;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.loading {
    position: absolute;
    top: 50vh;
    right: 50vw;
    font-size: xx-large;
}

.mainContent {
    width: 95vw;
    height: 88vh;
    text-align: left;
    border: 2px solid red;
    margin: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filterContainer {
    height: 88vh;
    width: 70vw;
    border: 2px solid red;
    padding: 1vh;
}

.categorySelect {
    font-weight: bold;
}

.otherOptions {
    text-align: left;
}

.otherOptionsLabel {
    font-weight: bold;
}

.startButtonWrapper {
    width: 44vw;
    display: flex;
    align-items: left;
    padding-left: 1vw;
}

.startButton {
    background-color: green;
}

.playerHUD {
    height: 88vh;
    width: 20vw;
    border: 2px solid red;
    padding: 1vh;
    text-align: center;
}

.roleIndicator {
    font-weight: bold;
}

.instructionsContainer {
    text-align: center;
}

.mainGame {
    width: 95vw;
    height: 88vh;
    text-align: left;
    border: 2px solid red;
    margin: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gameContainer {
    height: 88vh;
    width: 70vw;
    border: 2px solid red;
    padding: 1vh;
    font-size: smaller;
}

.round {
    position: absolute;
    top: 5vh;
    right: 1vw;
    font-weight: bold;
    font-size: larger;
}

.articleContainer {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.category {
    font-weight: normal;
    font-style: italic;
    font-size: smaller;
}

.playerHUDGame {
    height: 88vh;
    width: 20vw;
    border: 2px solid red;
    padding: 1vh;
    text-align: center;
}

.inputContainer {
    width: 60vw;
    border: 2px solid red;
    padding: 1vh;
    margin: auto;
    text-align: center;
}

.articleDisplay {
    color: blue;
    text-decoration: underline;
}

.roundOver {
    margin: auto;
    text-align: center;
}
