.tableClass table,
.tableClass th,
.tableClass td {
    border: 1px solid rgb(154, 168, 255);
    text-align: center;
    padding: 2px 5px;
}

.tableClass {
    width: max-content;
    margin: auto;
}

.highscoreTitle {
    text-align: center;
    font-size: x-large;
}
