.header {
    height: 7vh;
    width: 95vw;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
}

.titleImg {
    margin: auto;
}

.title {
    width: 95vw;
}

.mainContent {
    width: 100vw;
    height: 50vh;
    text-align: center;
    max-width: 500px;
    max-height: 210px;
    margin: auto;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid rgb(154, 168, 255);
}

.nameArea {
    width: 100vw;
    max-width: 500px;
    height: 15vh;
    max-height: 77px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(88, 29, 207);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 3px solid rgb(154, 168, 255);
}

.name {
    width: 100vw;
    max-width: 500px;
    text-shadow: 2px 2px 0 #0000002b;
}

.nameInput {
    height: 13vh;
    max-height: 50px;
    text-align: center;
    font-size: smaller;
    border-radius: 10px;
    border: 2px solid #1d40b4;
}

.lobbyArea {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 500px;
    height: 35vh;
    max-height: 130px;
    align-items: center;
    justify-content: center;
}

.createLobby {
    width: 50vw;
    max-width: 248px;
    height: 35vh;
    max-height: 130px;
    background-color: #29f04aea;
    display: flex;
    border-bottom-left-radius: 7px;
    border-right: 2px solid rgb(154, 168, 255);
}

.createLink {
    width: 50vw;
    max-width: 248px;
    padding-top: 38px;
    text-shadow: 2px 2px 0 #0000002b;
}

.joinLobby {
    width: 50vw;
    max-width: 248px;
    height: 35vh;
    max-height: 130px;
    background-color: rgba(71, 96, 255, 0.847);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom-right-radius: 7px;
    border-left: 2px solid rgb(154, 168, 255);
}

.joinLink {
    width: 50vw;
    max-width: 248px;
    padding-top: 10px;
    text-shadow: 2px 2px 0 #0000002b;
}

.joinInput {
    height: 15vh;
    max-height: 50px;
    font-size: 1.5rem;
    text-align: center;
    max-width: 225px;
    font-size: smaller;
    border-radius: 10px;
    border: 2px solid #1d40b4;
}

.buffer {
    height: 4vh;
    max-height: 150px;
}

.about {
    width: 100vw;
    height: 30vh;
    text-align: center;
    max-width: 700px;
    max-height: 300px;
    margin: auto;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #1d40b4;
    color: white;
    border-radius: 10px;
    border: 3px solid rgb(154, 168, 255);
}

.aboutTitle {
    margin: auto;
    font-weight: bold;
}

.aboutParagraph {
    text-align: left;
    font-size: large;
}

.aboutWikilinks {
    font-weight: bold;
}
